<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB">
<head>
    <!-- <link rel="stylesheet" type="text/css" href="../resources/css/template.css" /> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Daily astronomy picture of the day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <div class="panel-container">
        <img src="<%= url %>" alt="Galaxy image" class="panel-image">
        <div class="panel-description">
            <h3 class="title"><%= title %></h3>
            <p><%= explanation %></p>
        </div>
    </div>
</body>
</html>